@font-face {
  font-family: 'Lato';
  src: url("./assets/font/Lato/Lato-Black.ttf") format('ttf');
  color: black;
}
@font-face {
  font-family: 'Lato';
  src: url("./assets/font/Lato/Lato-BlackItalic.ttf") format('ttf');
  color: black;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url("./assets/font/Lato/Lato-Bold.ttf") format('ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Lato';
  src: url("./assets/font/Lato/Lato-BoldItalic.ttf") format('ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url("./assets/font/Lato/Lato-Light.ttf") format('ttf');
  font-weight: lighter;
}
@font-face {
  font-family: 'Lato';
  src: url("./assets/font/Lato/Lato-LightItalic.ttf") format('ttf');
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url("./assets/font/Lato/Lato-Regular.ttf") format('ttf');
}
@font-face {
  font-family: 'Lato';
  src: url("./assets/font/Lato/Lato-RegularItalic.ttf") format('ttf');
  font-style: italic;
}
@font-face {
  font-family: 'LatoThin';
  src: url("./assets/font/Lato/Lato-Thin.ttf") format('ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'LatoThinItalic';
  src: url("./assets/font/Lato/Lato-ThinItalic.ttf") format('ttf');
  font-weight: 100;
  font-style: italic;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1, h2, h3, h4, h5, h6 { margin: 0; }
button {cursor: pointer;}